.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 80px; 
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px; 
    display: block;
    margin: auto;
}

.navbar-brand {
    font-size: 1rem; 
    font-weight: bold;
    color: white;
}

.oi {
    width: 1.5rem; 
    font-size: 1rem; 
    vertical-align: middle;
}

.nav-item {
    font-size: 0.9rem;
    padding: 0.5rem 0;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255, 255, 255, 0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        display: block;
    }
}
